.modal-fade-enter-active {
  animation: dialog-fade-in .3s;
}

.modal-fade-leave-active {
  animation: dialog-fade-out .3s;
}

@keyframes dialog-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}

.m-modal__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  background: rgba(0, 0, 0, .5);
  z-index:999;
}

.m-modal__container {
  width: 25%;
  position: relative;
  margin: 0 auto 50px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  margin-top: 15vh;
  animation: dialog-fade-in .3s;
  border-radius: 15px;
  min-width:360px;
}

.m-modal__container img{
  width: 99%;
}


.m-modal__header {
  padding: 10px;
}

.m-modal__title {
  line-height: 24px;
  font-size: 18px;
  color: #303133;
}

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0;
}

.m-modal__headerbtn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.m-modal__close {
  color: #909399;
}

.m-modal__headerbtn:hover .m-modal__close {
  color: #409EFF;
}

.m-modal__body {
  padding: 20px;
  color: #606266;
  font-size: 14px;
  word-break: break-all;
}

.m-modal__footer {
  padding: 10px 20px 20px;
  text-align: right;
  box-sizing: border-box;
}

.m-modal__footer button:first-child {
  margin-right: 10px;
}

.m-modal-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.m-modal-button+.m-modal-button {
  margin-left: 10px;
}

.m-modal-button:focus,
.m-modal-button:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}

.m-modal--primary {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}

.m-modal--primary:focus,
.m-modal--primary:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}