version: "3.4"
volumes:
  shared-volume:
services:
  shared-tmp:
    image: busybox
    command: chmod -R 777 /tmp/docker
    volumes:
      - shared-volume:/tmp/docker

  mysql:
    image: mysql:${MYSQL_DOCKER_VERSION}
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "db_imi_test"
      TZ: "Asia/Shanghai"
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - 3306:3306
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

  postgres:
    image: postgres:13
    container_name: "postgres"
    environment:
      POSTGRES_USER: root
      POSTGRES_DB: db_imi_test
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - "${GITHUB_WORKSPACE}:/imi:rw"

  redis:
    image: redis:6-alpine
    container_name: redis
    depends_on:
      - shared-tmp
    command: redis-server /etc/redis.conf
    volumes:
      - ./redis.conf:/etc/redis.conf
      - shared-volume:/tmp/docker
    ports:
      - 6379:6379

  rabbitmq:
    container_name: rabbitmq
    image: "rabbitmq:3.8-management"
    environment:
      RABBITMQ_DEFAULT_VHOST: "/"
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
    ports:
      - "4369:4369"
      - "15672:15672"
      - "5672:5672"
      - "25672:25672"

  zookeeper:
    container_name: zookeeper
    image: zookeeper:3.4
    ports:
      - "2181:2181"

  kafka1:
    container_name: kafka1
    image: wurstmeister/kafka:2.13-2.7.0
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ADVERTISED_HOST_NAME: kafka1
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_HOST_NAME: kafka1
      KAFKA_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      HOSTNAME_COMMAND: hostname -i
      KAFKA_LISTENERS: PLAINTEXT://kafka1:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka1:9092
      KAFKA_NUM_PARTITIONS: 3
    ports:
      - "9092:9092"

  swoole:
    container_name: "swoole"
    depends_on:
      - shared-tmp
      - mysql
      - redis
      - rabbitmq
      - kafka1
      - postgres
    environment:
      PHP_JIT: ${PHP_JIT}
      MYSQL_SERVER_HOST: mysql
      REDIS_SERVER_HOST: ${REDIS_SERVER_HOST}
      PGSQL_SERVER_HOST: postgres
      MYSQL_SERVER_PASSWORD: ""
      AMQP_SERVER_HOST: "rabbitmq"
      KAFKA_BOOTSTRAP_SERVERS: "kafka1:9092"
    build:
      context: .
      dockerfile: swoole.dockerfile
      args:
        SWOOLE_DOCKER_VERSION: ${SWOOLE_DOCKER_VERSION}
        ROADRUNNER_DOCKER_VERSION: ${ROADRUNNER_DOCKER_VERSION}
        POSTGRESQL_VERSION: f5eda17f89d160d0a89ac7c5db4636bdaefd48e6
    volumes:
      - "${GITHUB_WORKSPACE}:/imi:rw"
      - "/tmp/composer:/root/.composer/cache/files:rw"
      - shared-volume:/tmp/docker
    working_dir: /imi
    command: tail -f /dev/null

  swoole-only:
    container_name: "swoole-only"
    build:
      context: .
      dockerfile: swoole.dockerfile
      args:
        SWOOLE_DOCKER_VERSION: ${SWOOLE_DOCKER_VERSION}
        ROADRUNNER_DOCKER_VERSION: ${ROADRUNNER_DOCKER_VERSION}
        POSTGRESQL_VERSION: f5eda17f89d160d0a89ac7c5db4636bdaefd48e6
    volumes:
      - "${GITHUB_WORKSPACE}:/imi:rw"
      - "/tmp/composer:/root/.composer/cache/files:rw"
      - "/tmp/phpstan:/tmp/phpstan:rw"
    working_dir: /imi
    command: tail -f /dev/null