parameters:
    level: 6

    phpVersion: 80000

    paths:
        - src/Components

    excludePaths:
        - */vendor/*
        - src/Components/grpc/example/grpc
        - src/Components/smarty/src/smarty-plugins

    bootstrapFiles:
        - vendor/autoload.php

    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#is never read, only written#'
        - '#expects class-string<\S+>, string given#'
        - '#Unable to resolve the template type T in call to method#'
        - '#Access to an undefined property Imi\\Util\\LazyArrayObject::\$[^.]+.#'
        - '#Access to an undefined property Imi\\Util\\ArrayData::\$[^.]+.#'
        - '#Unsafe usage of new static\(\).+#'
        - '#Argument of an invalid type Imi\\Util\\ArrayData supplied for foreach, only iterables are supported.#'
        - '#Argument of an invalid type ArrayAccess supplied for foreach, only iterables are supported.#'
        - '#Property GPBMetadata\\Grpc::\$\S+ has no typehint specified.#'
        - '#Property Grpc\\[^:]+::\$\S+ has no typehint specified.#'
        - '#Method GPBMetadata\\Grpc::initOnce\(\) has no return typehint specified.#'
        - '#PHPDoc tag @throws with type \S+ is not subtype of Throwable#'
        - '#Constant IMI_PATH not found.#'
        -
            message: '#Method \S+ has no return typehint specified.#'
            paths:
                - tests/unit/**Test.php
        -
            message: '#class .+ not found#'
            paths:
                - src/Components/jwt/*
        -
            message: '#Lcobucci#'
            paths:
                - src/Components/jwt/*

services:
    fileFinderAnalyse:
        class: Imi\Util\File\FileFinder
        arguments:
            fileExcluder: @fileExcluderAnalyse
            fileExtensions: %fileExtensions%
        autowired: false

    fileFinderScan:
        class: Imi\Util\File\FileFinder
        arguments:
            fileExcluder: @fileExcluderScan
            fileExtensions: %fileExtensions%
        autowired: false
