parameters:
    level: 6

    phpVersion: 80000

    paths:
        - src
        - tests
        - config
        - dev
        - split-repository

    excludePaths:
        - */vendor/*
        - src/Components
        - src/Config/DotEnv/EntryParser.php
        - src/Config/DotEnv/Parser.php
        - src/Util/File/FileFinder.php

    bootstrapFiles:
        - vendor/autoload.php
        - split-repository/vendor/autoload.php

    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#is never read, only written#'
        - '#expects class-string<\S+>, string given#'
        - '#Unable to resolve the template type T in call to method#'
        - '#PHPDoc tag @return with type T\|null is not subtype of native type#'
        - '#expects class-string<.+>|null, string given#'
        - '#Access to an undefined property Imi\\Util\\LazyArrayObject::\$[^.]+.#'
        - '#Access to an undefined property Imi\\Util\\ArrayData::\$[^.]+.#'
        - '#Unsafe usage of new static\(\).+#'
        - '#Argument of an invalid type Imi\\Util\\ArrayData supplied for foreach, only iterables are supported.#'
        - '#Argument of an invalid type ArrayAccess supplied for foreach, only iterables are supported.#'
        - '#PHPDoc tag @throws with type \S+ is not subtype of Throwable#'
        - '#Imi\\Swoole\\Util\\Coroutine#'
        - '#Imi\\Swoole\\Process\\Process#'
        - '#IMI_PATH#'
        -
            message: '#Method \S+ has no return typehint specified.#'
            paths:
                - tests/unit/**Test.php
        -
            message: '#(Extending|Creating new|Calling) \S+ is not covered by backward compatibility promise\. The (class|method) might change in a minor PHPStan version\.#'
            paths:
                - dev/PHPStan/FileFinder.php
        - '#Class UnitEnum not found#'
        - '#Class BackedEnum not found#'
        - '#unknown class UnitEnum#'
        - '#unknown class BackedEnum#'
        - '#Call to static method .+\(\) on an unknown class (Backed|Unit)Enum#'
        - '#Method Imi\\Util\\EnumUtil::.+\(\) has invalid return type (Backed|Unit)Enum#'
        - '#unknown class Imi\\Test\\Component\\Bean\\EnumBean#'
        - '#unknown class Imi\\Test\\Component\\Enum\\TestEnumBean#'
        - '#unknown class Imi\\Test\\Component\\Enum\\TestEnumBeanBacked#'
        - '#Class Imi\\Test\\Component\\Bean\\EnumBean not found#'
        - '#Class Imi\\Test\\Component\\Enum\\TestEnumBean not found#'
        - '#Class Imi\\Test\\Component\\Enum\\TestEnumBeanBacked not found#'
services:
