parameters:
    level: 6

    phpVersion: 80100

    paths:
        - src
        - tests
        - config
        - dev
        - split-repository

    excludePaths:
        - */vendor/*
        - src/Components
        - src/Config/DotEnv/EntryParser.php
        - src/Config/DotEnv/Parser.php
        - src/Util/File/FileFinder.php

    bootstrapFiles:
        - vendor/autoload.php
        - split-repository/vendor/autoload.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false

    resultCachePath: %tmpDir%/resultCache-imi-3-core.php

    ignoreErrors:
        -
            message: '#expects class-string<\S+>, string given#'
            reportUnmatched: true
        -
            message: '#Unable to resolve the template type T in call to method#'
            reportUnmatched: true
        -
            message: '#Access to an undefined property Imi\\Util\\LazyArrayObject::\$[^.]+.#'
            path: 'tests/unit/Component/Tests/*'
            reportUnmatched: true
        -
            message: '#Access to an undefined property Imi\\Util\\ArrayData::\$[^.]+.#'
            path: 'tests/unit/Component/Tests/*'
            reportUnmatched: true
        -
            message: '#Unsafe usage of new static\(\).+#'
            reportUnmatched: true
        -
            message: '#unknown class Imi\\Swoole\\Util\\Coroutine#'
            reportUnmatched: true
        -
            message: '#Constant IMI_PATH not found#'
            reportUnmatched: true

        # 用 __call() 实现，并且在类注释中使用 phpdoc 声明方法
        -
            message: '#Creating callable from a non-native method#'
            reportUnmatched: true
        -
            message: '#should return .*static\(.+\).+but returns .+#'
            reportUnmatched: true
services:
includes:
    - phpstan-baseline/baseline-core.neon