parameters:
    level: 6

    phpVersion: 80000

    paths:
        - src
        - tests
        - config
        - split-repository
        - dev

    excludePaths:
        - split-repository/vendor/*
        - src/Components/*/vendor/*

    bootstrapFiles:
        - vendor/autoload.php
        - split-repository/vendor/autoload.php

    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Access to an undefined property Imi\\Util\\LazyArrayObject::\$[^.]+.#'
        - '#Access to an undefined property Imi\\Util\\ArrayData::\$[^.]+.#'
        - '#Unsafe usage of new static\(\).+#'
        - '#Argument of an invalid type Imi\\Util\\ArrayData supplied for foreach, only iterables are supported.#'
        - '#Access to static property \S+ on trait.+#'
        - '#Argument of an invalid type ArrayAccess supplied for foreach, only iterables are supported.#'
        - '#Property GPBMetadata\\Grpc::\$\S+ has no typehint specified.#'
        - '#Property Grpc\\[^:]+::\$\S+ has no typehint specified.#'
        - '#Method GPBMetadata\\Grpc::initOnce\(\) has no return typehint specified.#'
        - '#PHPDoc tag @throws with type \S+ is not subtype of Throwable#'
        - '#Constant IMI_PATH not found.#'