parameters:
    level: 6

    phpVersion: 80100

    paths:
        - src/Components

    excludePaths:
        - */vendor/*
        - src/Components/grpc/example/grpc
        - src/Components/smarty/src/smarty-plugins
        - src/Components/swoole/src/Process/Process.php
        - src/Components/pgsql/src/Db/Drivers/Swoole
        - src/Components/phar/src/Ignore

    bootstrapFiles:
        - vendor/autoload.php

    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        -
            message: '#expects class-string<\S+>, string given#'
            reportUnmatched: false
        -
            message: '#Unable to resolve the template type T in call to method#'
            reportUnmatched: false
        -
            message: "#^Unsafe usage of new static\\(\\)\\.$#"
            reportUnmatched: false
        -
            message: '#Swoole\\Coroutine\\\S+ not found#'
            reportUnmatched: false
        -
            message: '#^Call to an undefined method Swoole\\Coroutine\\#'
            reportUnmatched: false

services:
includes:
    - phpstan-baseline/component-baseline.php