<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
    bootstrap="./bootstrap.php"
    colors="true">
    <testsuites>
        <testsuite name="Kafka">
            <directory>Kafka</directory>
        </testsuite>
        <testsuite name="Queue">
            <directory>Queue</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <bootstrap class="Imi\Kafka\Test\PHPUnitHook" />
    </extensions>
    <source>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </source>
</phpunit>