<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
    bootstrap="./bootstrap.php"
    colors="true">
    <testsuites>
        <testsuite name="HttpServer">
            <directory>unit/AppServer/Tests/Http</directory>
        </testsuite>
        <testsuite name="WebSocketServer">
            <directory>unit/AppServer/Tests/WebSocket</directory>
        </testsuite>
        <testsuite name="TcpServer">
            <directory>unit/AppServer/Tests/Tcp</directory>
        </testsuite>
        <testsuite name="UdpServer">
            <directory>unit/AppServer/Tests/Udp</directory>
        </testsuite>
        <testsuite name="ChannelServerUtilServer">
            <directory>unit/ChannelServerUtilServer/Tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </source>
</phpunit>