<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Aop">
            <directory>unit/Tests</directory>
            <file>*.php</file>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Imi\Test\PHPUintListener\ImiListener" file="tests/unit/PHPUintListener/ImiListener.php">
        </listener>
    </listeners>
</phpunit>
