<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="Components">
            <directory>unit/Component/Tests</directory>
        </testsuite>
        <testsuite name="Performance">
            <directory>unit/Component/Performance</directory>
        </testsuite>
        <testsuite name="validate">
            <file>unit/Component/Tests/ValidatorAnnotationTest.php</file>
            <file>unit/Component/Tests/ValidatorHelperTest.php</file>
        </testsuite>
        <testsuite name="model">
            <file>unit/Component/Tests/ModelRelationTest.php</file>
            <file>unit/Component/Tests/ModelTest.php</file>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="Imi\Test\Component\PHPUnitHook" />
    </extensions>
</phpunit>
