<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="Components">
            <directory>unit/Component/Tests</directory>
        </testsuite>
        <testsuite name="HttpServer">
            <directory>unit/HttpServer/Tests</directory>
        </testsuite>
        <testsuite name="RedisSessionServer">
            <directory>unit/RedisSessionServer/Tests</directory>
        </testsuite>
        <testsuite name="WebSocketServer">
            <directory>unit/WebSocketServer/Tests</directory>
        </testsuite>
        <testsuite name="WebSocketServerWithRedisServerUtil">
            <directory>unit/WebSocketServerWithRedisServerUtil/Tests</directory>
        </testsuite>
        <testsuite name="WebSocketServerWithAmqpServerUtil">
            <directory>unit/WebSocketServerWithAmqpServerUtil/Tests</directory>
            <directory>unit/WebSocketServerWithAmqpRouteServerUtil/Tests</directory>
        </testsuite>
        <testsuite name="TCPServer">
            <directory>unit/TCPServer/Tests</directory>
        </testsuite>
        <testsuite name="UDPServer">
            <directory>unit/UDPServer/Tests</directory>
        </testsuite>
        <testsuite name="Performance">
            <directory>unit/Component/Performance</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="Imi\Swoole\Test\Component\PHPUnitHook" />
    </extensions>
</phpunit>
