version: "3.4"
services:
    redis:
        image: redis:6.0.9-alpine
        container_name: redis
        ports:
            - 6379:6379

    zookeeper:
        container_name: zookeeper
        image: zookeeper:3.4
        ports:
            - "2181:2181"
    
    kafka1:
        container_name: kafka1
        image: wurstmeister/kafka:2.13-2.7.0
        depends_on:
            - zookeeper
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ADVERTISED_HOST_NAME: kafka1
            KAFKA_ADVERTISED_PORT: 9092
            KAFKA_HOST_NAME: kafka1
            KAFKA_PORT: 9092
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            HOSTNAME_COMMAND: hostname -i
            KAFKA_LISTENERS: PLAINTEXT://kafka1:9092
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka1:9092
            KAFKA_NUM_PARTITIONS: 3
        ports:
            - "9092:9092"

    swoole:
        container_name: "swoole"
        depends_on:
            - redis
            - kafka1
        environment:
            - "REDIS_SERVER_HOST=redis"
            - "KAFKA_BOOTSTRAP_SERVERS=kafka1:9092"
        build:
            context: .
            dockerfile: ./swoole.dockerfile
            args:
                SWOOLE_DOCKER_VERSION: ${SWOOLE_DOCKER_VERSION}
        volumes:
            - "${GITHUB_WORKSPACE}:/imi:rw"
        working_dir: /imi
        ulimits:
            core: -1
        privileged: true
        command: tail -f /etc/group

    swoole-only:
        container_name: "swoole-only"
        build:
            context: .
            dockerfile: ./swoole.dockerfile
            args:
                SWOOLE_DOCKER_VERSION: ${SWOOLE_DOCKER_VERSION}
        volumes:
            - "${GITHUB_WORKSPACE}:/imi:rw"
        working_dir: /imi
        ulimits:
            core: -1
        privileged: true
        command: tail -f /etc/group
