<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
    bootstrap="./bootstrap.php"
    colors="true">
    <testsuites>
        <testsuite name="workerman">
            <directory>unit/AppServer/Tests/WebSocket/Workerman</directory>
        </testsuite>
        <testsuite name="swoole">
            <directory>unit/AppServer/Tests/WebSocket/Swoole</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </source>
</phpunit>