/** 动画库 **/

/* 渐隐 */
@keyframes fadeOut {
	0% { opacity: 1 }
    80% { opacity: 1 }
	100% { opacity: 0 }
}

/* 延迟上拉 */
@keyframes pullUp {
    0% {
        opacity: 1;
        transform: translateY(0);
        offset: 1
    }
    80% {
        opacity: 1;
        transform: translateY(0);
        offset: 1
    }	
    100% {
        opacity: 0;
        transform: translateY(-100%);
        offset: 0
    }
}

/* 延迟下拉 */
@keyframes pullDown {
    0% {
        opacity: 1;
        transform: translateY(0);
        offset: 1
    }
    80% {
        opacity: 1;
        transform: translateY(0);
        offset: 1
    }	
    100% {
        opacity: 0;
        transform: translateY(100%);
        offset: 0
    }
}