<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="workerman">
            <directory>unit/WorkermanServer/Tests/WebSocket/Workerman</directory>
        </testsuite>
        <testsuite name="swoole">
            <directory>unit/WorkermanServer/Tests/WebSocket/Swoole</directory>
        </testsuite>
    </testsuites>
</phpunit>
