parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Lcobucci\\\\JWT\\\\Token\\:\\:claims\\(\\)\\.$#"
			count: 1
			path: ../src/Components/jwt/src/Aop/JWTValidationAop.php

		-
			message: "#^Call to an undefined method Lcobucci\\\\JWT\\\\Token\\:\\:getClaim\\(\\)\\.$#"
			count: 1
			path: ../src/Components/jwt/src/Aop/JWTValidationAop.php

		-
			message: "#^Call to an undefined method Lcobucci\\\\JWT\\\\Builder\\:\\:sign\\(\\)\\.$#"
			count: 1
			path: ../src/Components/jwt/src/Bean/JWT.php

		-
			message: "#^Call to an undefined method Lcobucci\\\\JWT\\\\Token\\:\\:validate\\(\\)\\.$#"
			count: 1
			path: ../src/Components/jwt/src/Bean/JWT.php

		-
			message: "#^Call to an undefined method Lcobucci\\\\JWT\\\\Token\\:\\:verify\\(\\)\\.$#"
			count: 1
			path: ../src/Components/jwt/src/Bean/JWT.php

		-
			message: "#^Call to method setAudience\\(\\) on an unknown class Lcobucci\\\\JWT\\\\ValidationData\\.$#"
			count: 1
			path: ../src/Components/jwt/src/Bean/JWT.php

		-
			message: "#^Call to method setId\\(\\) on an unknown class Lcobucci\\\\JWT\\\\ValidationData\\.$#"
			count: 1
			path: ../src/Components/jwt/src/Bean/JWT.php

		-
			message: "#^Call to method setIssuer\\(\\) on an unknown class Lcobucci\\\\JWT\\\\ValidationData\\.$#"
			count: 1
			path: ../src/Components/jwt/src/Bean/JWT.php

		-
			message: "#^Call to method setSubject\\(\\) on an unknown class Lcobucci\\\\JWT\\\\ValidationData\\.$#"
			count: 1
			path: ../src/Components/jwt/src/Bean/JWT.php

		-
			message: "#^Cannot instantiate interface Lcobucci\\\\JWT\\\\Builder\\.$#"
			count: 1
			path: ../src/Components/jwt/src/Bean/JWT.php

		-
			message: "#^Cannot instantiate interface Lcobucci\\\\JWT\\\\Parser\\.$#"
			count: 2
			path: ../src/Components/jwt/src/Bean/JWT.php

		-
			message: "#^Instantiated class Lcobucci\\\\JWT\\\\ValidationData not found\\.$#"
			count: 1
			path: ../src/Components/jwt/src/Bean/JWT.php

		-
			message: "#^Call to an undefined method Lcobucci\\\\JWT\\\\Token\\:\\:claims\\(\\)\\.$#"
			count: 1
			path: ../src/Components/jwt/tests/Unit/JWTTest.php

		-
			message: "#^Call to an undefined method Lcobucci\\\\JWT\\\\Token\\:\\:getClaim\\(\\)\\.$#"
			count: 1
			path: ../src/Components/jwt/tests/Unit/JWTTest.php

		-
			message: "#^Parameter \\#1 \\$expiration of method Lcobucci\\\\JWT\\\\Builder\\:\\:expiresAt\\(\\) expects DateTimeImmutable, int given\\.$#"
			count: 1
			path: ../src/Components/jwt/tests/Unit/JWTTest.php
