parameters:
	ignoreErrors:
		-
			message: "#^If condition is always false\\.$#"
			count: 3
			path: ../src/Db/Query/Query.php

		-
			message: "#^Parameter \\#2 \\$class of static method Imi\\\\Server\\\\ServerManager\\:\\:getServer\\(\\) expects class\\-string\\<Imi\\\\Server\\\\Contract\\\\IServer\\>\\|null, string given\\.$#"
			count: 1
			path: ../src/Server/Group/Listener/GroupRestore.php
