name: Rector

on:
  push:
    paths-ignore:
      - "doc/**"
      - "mddoc/**"
      - "res/**"
      - "website/**"
      - ".markdownlint.json"
      - "README.md"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        swoole-docker: [5.0-php8.1]
    env:
      SWOOLE_DOCKER_VERSION: ${{ matrix.swoole-docker }}
      POSTGRESQL_VERSION: ""
      ENV_SERVICE: swoole-only
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Prepare
        run: |
          docker-compose -f ./.github/docker-compose.yml up -d ${ENV_SERVICE}
          docker exec ${ENV_SERVICE} php -v
          docker exec ${ENV_SERVICE} php -m
          docker exec ${ENV_SERVICE} php --ri swoole
          docker exec ${ENV_SERVICE} composer -V
          docker exec ${ENV_SERVICE} composer update --no-interaction --prefer-dist --no-progress
          docker exec ${ENV_SERVICE} bash -c "cd split-repository && composer install --no-interaction --prefer-dist --no-progress"
          echo "test_prepared=1" >> $GITHUB_ENV

      - name: Analyse core
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec ${ENV_SERVICE} ./vendor/bin/rector process --dry-run

      - name: Analyse amqp
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/amqp ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse apidoc
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/apidoc ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse fpm
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/fpm ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse grpc
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/grpc ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse jwt
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/jwt ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse kafka
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/kafka ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse mqtt
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/mqtt ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse pgsql
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/pgsql ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse queue
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/queue ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse rate-limit
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/rate-limit ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse roadrunner
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/roadrunner ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse rpc
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/rpc ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse shared-memory
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/shared-memory ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse smarty
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/smarty ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse snowflake
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/snowflake ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse swoole
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/swoole ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse swoole-tracker
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/swoole-tracker ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse workerman
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/workerman ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse workerman-gateway
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/workerman-gateway ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run

      - name: Analyse macro
        if: ${{ env.test_prepared && always() }}
        run: |
          docker exec -w /imi/src/Components/macro ${ENV_SERVICE} /imi/vendor/bin/rector process --dry-run
